@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

@font-face {
    font-family: "Times New Roman", Times, serif;
}

@font-face {
    font-family: 'Intellij Mono Regular';
    src: local('Intellij Mono Regular'),
    url(public/fonts/Intellij/ttf/JetBrainsMonoNL-Regular.ttf) format('truetype');
}